@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper.dark {
  background-color: #242424;
}

.wrapper.dark .online-count {
  color: #fff;
}

.wrapper button {
  color: #fff;
}

.wrapper input {
  border: solid 2px #ddd;
}

.chatapp-container {
  min-width: 540px;
  padding: 16px;
  border: solid 2px #666;
}
